/*=========================================================*/
/*Thanh Tuan*/
/*=========================================================*/
/*=========================================================*/
@font-face {
  font-family: "Fakt-Pro";
  src: url("/Assets/fonts/FaktPro-Normal.eot");
  src: url("/Assets/fonts/FaktPro-Normal.eot?#iefix") format("embedded-opentype"), url("/Assets/fonts/FaktPro-Normal.woff2") format("woff2"), url("/Assets/fonts/FaktPro-Normal.woff") format("woff"), url("/Assets/fonts/FaktPro-Normal.ttf") format("truetype"), url("/Assets/fonts/FaktPro-Normal.svg#FaktPro-Normal") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fakt-Pro";
  src: url("/Assets/fonts/FaktPro-Medium.eot");
  src: url("/Assets/fonts/FaktPro-Medium.eot?#iefix") format("embedded-opentype"), url("/Assets/fonts/FaktPro-Medium.woff2") format("woff2"), url("/Assets/fonts/FaktPro-Medium.woff") format("woff"), url("/Assets/fonts/FaktPro-Medium.ttf") format("truetype"), url("/Assets/fonts/FaktPro-Medium.svg#FaktPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fakt-Pro";
  src: url("/Assets/fonts/FaktPro-SemiBold.eot");
  src: url("/Assets/fonts/FaktPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Assets/fonts/FaktPro-SemiBold.woff2") format("woff2"), url("/Assets/fonts/FaktPro-SemiBold.woff") format("woff"), url("/Assets/fonts/FaktPro-SemiBold.ttf") format("truetype"), url("/Assets/fonts/FaktPro-SemiBold.svg#FaktPro-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  * {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
}

body {
  font-family: "Fakt-Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #ccc;
}

a, h1, h2, h3, h4, h5, h6, p, i, span {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

ul, li {
  list-style: none;
  display: inline-block;
  position: relative;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  height: 90px;
  background-color: #fff;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  header {
    height: 70px;
  }
}
header .logo {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  border-radius: 20px;
  z-index: 10;
}
@media only screen and (max-width: 1024px) {
  header .logo {
    position: relative;
    transform: translate(-50%, 0);
    border-radius: 10px;
  }
  header .logo img {
    max-height: 70px;
  }
}
header .menu-icon {
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 1024px) {
  header .menu-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
  }
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  transition: all 0.3s;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  header .nav {
    position: absolute;
    height: 80vh;
    right: -100%;
    transition: all 0.3s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  header .nav__left, header .nav__right {
    width: 100%;
  }
  header .nav li {
    display: block;
  }
}
header .nav li {
  margin: 0 20px;
}
header .nav li a {
  font-size: 24px;
  color: #004834;
  font-weight: bold;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  header .nav li a {
    font-size: 18px;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 600px) {
  header .nav li a {
    font-size: 16px;
  }
}
header .nav.active {
  z-index: 30;
  right: 0;
  background-color: #fff;
  min-width: 50%;
}

.custom-shape-divider-bottom-1644165049 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644165049 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1644165049 .shape-fill {
  fill: #FFFFFF;
}

.hero {
  background: linear-gradient(90deg, #26866B, #2F8181, #46759A, #4C6BAB, #545EB7);
  height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 60px;
}
.hero h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}
.hero p {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
.hero .img {
  position: absolute;
  bottom: -80px;
  right: 50px;
  max-width: 700px;
}
.hero .content a {
  margin-top: 25px;
  width: 150px;
  margin-right: 20px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  padding: 8px 0;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1;
}
.hero .content a:before {
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(90deg, #004834 40%, #fff 100%);
  z-index: -1;
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s;
}
.hero .content a:hover:before {
  transform: translate(0, 0);
}