/*=========================================================*/
/*Thanh Tuan*/
/*=========================================================*/
/*=========================================================*/
@font-face {
  font-family: "Fakt-Pro";
  src: url("/Assets/fonts/FaktPro-Normal.eot");
  src: url("/Assets/fonts/FaktPro-Normal.eot?#iefix") format("embedded-opentype"), url("/Assets/fonts/FaktPro-Normal.woff2") format("woff2"), url("/Assets/fonts/FaktPro-Normal.woff") format("woff"), url("/Assets/fonts/FaktPro-Normal.ttf") format("truetype"), url("/Assets/fonts/FaktPro-Normal.svg#FaktPro-Normal") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fakt-Pro";
  src: url("/Assets/fonts/FaktPro-Medium.eot");
  src: url("/Assets/fonts/FaktPro-Medium.eot?#iefix") format("embedded-opentype"), url("/Assets/fonts/FaktPro-Medium.woff2") format("woff2"), url("/Assets/fonts/FaktPro-Medium.woff") format("woff"), url("/Assets/fonts/FaktPro-Medium.ttf") format("truetype"), url("/Assets/fonts/FaktPro-Medium.svg#FaktPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fakt-Pro";
  src: url("/Assets/fonts/FaktPro-SemiBold.eot");
  src: url("/Assets/fonts/FaktPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("/Assets/fonts/FaktPro-SemiBold.woff2") format("woff2"), url("/Assets/fonts/FaktPro-SemiBold.woff") format("woff"), url("/Assets/fonts/FaktPro-SemiBold.ttf") format("truetype"), url("/Assets/fonts/FaktPro-SemiBold.svg#FaktPro-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  * {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
  display: flex;
}

body {
  font-family: "Fakt-Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a, h1, h2, h3, h4, h5, h6, p, i, span {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

ul, li {
  list-style: none;
  display: inline-block;
  position: relative;
}

a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.button {
  margin-top: 25px;
  width: 150px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  padding: 8px 0;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .button {
    width: 120px;
    font-size: 14px;
    margin-right: 10px;
  }
}

.text-center {
  text-align: center;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
  position: relative;
}

header {
  height: 90px;
  background-color: #fff;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  header {
    height: 70px;
  }
}
header .logo {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  border-radius: 20px;
  z-index: 10;
}
@media only screen and (max-width: 1024px) {
  header .logo {
    position: relative;
    transform: translate(-50%, 0);
    border-radius: 10px;
  }
  header .logo img {
    max-height: 70px;
  }
}
header .menu-icon {
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 1024px) {
  header .menu-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
  }
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  transition: all 0.3s;
  padding: 20px;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  header .nav {
    position: absolute;
    height: 80vh;
    right: -100%;
    transition: all 0.3s;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  header .nav__left, header .nav__right {
    width: 100%;
  }
  header .nav li {
    display: block;
  }
}
header .nav li {
  margin: 0 20px;
}
header .nav li a {
  font-size: 24px;
  color: #004834;
  font-weight: bold;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  header .nav li a {
    font-size: 18px;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 600px) {
  header .nav li a {
    font-size: 16px;
  }
}
header .nav.active {
  z-index: 30;
  right: 0;
  background-color: #fff;
  min-width: 50%;
}

.custom-shape-divider-bottom-1644165049 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644165049 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 150px;
}
@media only screen and (max-width: 768px) {
  .custom-shape-divider-bottom-1644165049 svg {
    height: auto;
  }
}

.custom-shape-divider-bottom-1644165049 .shape-fill {
  fill: #FFFFFF;
}

.hero {
  background: linear-gradient(90deg, #26866B, #2F8181, #46759A, #4C6BAB, #545EB7);
  padding: 0 60px;
  height: 600px;
  position: relative;
}
.hero .wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.hero__content {
  z-index: 100;
}
.hero__content a {
  margin-top: 25px;
  width: 150px;
  margin-right: 20px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  padding: 8px 0;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .hero__content a {
    width: 120px;
    font-size: 14px;
    margin-right: 10px;
  }
}
.hero__content a:before {
  border-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(90deg, #004834 40%, #fff 100%);
  z-index: -1;
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s;
}
.hero__content a:hover:before {
  transform: translate(0, 0);
}
.hero h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}
.hero p {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  max-width: 60%;
}
.hero .img {
  position: absolute;
  bottom: -80px;
  right: 50px;
  max-width: 700px;
}
@media only screen and (max-width: 768px) {
  .hero {
    height: auto;
    padding: 60px 25px;
  }
  .hero h1 {
    font-size: 24px;
  }
  .hero p {
    font-size: 14px;
    max-width: 100%;
  }
  .hero .img {
    display: none;
  }
  .hero .img {
    position: absolute;
    bottom: 0px;
    right: 10px;
    max-width: 500px;
  }
}
@media only screen and (max-width: 500px) {
  .hero {
    height: auto;
  }
}

.message {
  padding: 100px 0 50px 0;
  background-color: #fff;
  text-align: center;
  width: 80%;
  margin: auto;
}
.message .title-section {
  color: #004834;
}
.message h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.message p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .message {
    padding: 40px 0 20px 0;
  }
  .message h4 {
    font-size: 16px;
  }
  .message p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.title-section {
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  .title-section {
    font-size: 24px;
  }
}

.project, .news {
  position: relative;
  padding: 0 60px;
  margin-bottom: 80px;
}
.project .title-section, .news .title-section {
  color: #004834;
}
.project__item a, .news__item a {
  display: block;
}
.project__item .content, .news__item .content {
  margin-top: 4px;
  color: #fff;
  background: #197D62;
  padding: 15px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  max-height: 300px;
  overflow: hidden;
}
.project h4, .news h4 {
  font-size: 24px;
  color: #fff;
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.project p, .news p {
  font-size: 16px;
  margin: 10px 0px;
  font-weight: bold;
}
.project li, .news li {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  padding-left: 15px;
}
.project li::before, .news li::before {
  content: url(/Assets/images/arrow-white.png);
  position: absolute;
  top: 1px;
  left: 0;
}
.project__control, .news__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.project .button, .news .button {
  margin-top: 25px;
  width: 150px;
  margin-right: 20px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  padding: 8px 0;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 1;
  background-color: #004834;
}
.project .customPrevBtn, .news .customPrevBtn {
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #004834;
}
.project .customPrevBtn::after, .news .customPrevBtn::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(70%, -58%) rotate(180deg);
  content: url(/Assets/images/arrow-white-02.png);
}
.project .customNextBtn, .news .customNextBtn {
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #004834;
}
.project .customNextBtn::after, .news .customNextBtn::after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(60%, -40%);
  content: url(/Assets/images/arrow-white-02.png);
}
@media only screen and (max-width: 768px) {
  .project, .news {
    padding: 0 25px;
  }
  .project h4, .news h4 {
    font-size: 18px;
    height: 20px;
  }
  .project p, .news p {
    font-size: 14px;
    margin: 6px 0px;
  }
  .project li, .news li {
    font-size: 12px;
  }
  .project .customPrevBtn, .news .customPrevBtn {
    width: 45px;
    height: 45px;
    background-color: #004834;
  }
  .project .customPrevBtn::after, .news .customPrevBtn::after {
    position: absolute;
    top: 50%;
    left: -6px;
    transform: translate(70%, -58%) rotate(180deg);
    content: url(/Assets/images/arrow-white-02.png);
  }
  .project .customNextBtn, .news .customNextBtn {
    width: 45px;
    height: 45px;
  }
  .project .customNextBtn::after, .news .customNextBtn::after {
    position: absolute;
    top: 50%;
    left: -6px;
    transform: translate(60%, -40%);
    content: url(/Assets/images/arrow-white-02.png);
  }
  .project__control, .news__control {
    margin-top: 20px;
  }
  .project .button, .news .button {
    margin-top: 5px;
    width: 120px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 500px) {
  .project, .news {
    padding: 0 15px;
  }
}

.about {
  padding: 60px;
  background-color: #197D62;
}
.about .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about .title-section {
  color: #fff;
  text-align: left;
}
.about p {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.about__content, .about__video {
  width: 48%;
}
.about .button {
  border: 1px solid #fff;
  background-color: #fff;
  color: #004834;
}
@media only screen and (max-width: 768px) {
  .about {
    padding: 20px;
  }
  .about p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .about {
    padding: 15px;
  }
  .about__content, .about__video {
    width: 100%;
    margin: 10px 0;
  }
  .about iframe {
    height: 200px;
  }
}

.news {
  position: relative;
  margin-top: 60px;
}
.news__item h4 {
  font-size: 14px;
  height: auto;
  white-space: inherit;
  max-height: 58px;
}
@media only screen and (max-width: 768px) {
  .news__item h4 {
    max-height: 54px;
  }
}
.news__item p {
  font-size: 12px;
  height: 45px;
  overflow: hidden;
}
.news__item img {
  width: 100%;
}

.footer {
  background: #004834;
  color: #fff;
  font-size: 16px;
}
.footer form .gifts {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.footer form .gifts input {
  font-size: 12px;
  width: 200px;
  height: 32px;
  color: #000;
  font-weight: bold;
  border: none;
  outline: 0;
  padding: 0 15px;
  border-radius: 10px;
  margin-right: 15px;
}
.footer form .gifts input::placeholder {
  color: #ccc;
}
@media only screen and (max-width: 768px) {
  .footer form .gifts input {
    margin-bottom: 10px;
    display: block;
  }
}
.footer form .gifts h5 {
  width: 100%;
}
.footer form .button-submit {
  border: 0;
  outline: 0;
  width: auto;
  font-size: 14px;
  color: #004834;
  padding: 0 20px;
  height: 32px;
  margin: 0;
  cursor: pointer;
  font-weight: bold;
}
.footer .wrapper {
  max-width: 1500px;
  margin: auto;
  padding: 80px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer iframe {
  width: 555px;
  height: 235px;
  max-width: 100%;
}
.footer h4 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}
.footer h5 {
  margin-bottom: 5px;
}
.footer .address, .footer .contact {
  margin-bottom: 15px;
}
.footer .contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 80%;
}
.footer .social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer .social img {
  margin: 0 6px;
  transition: all 0.3s;
  border-radius: 50%;
  width: 35px;
}
.footer .contacts {
  padding-right: 10px;
}
@media only screen and (max-width: 1024px) {
  .footer .wrapper {
    padding: 40px 30px;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    font-size: 12px;
  }
  .footer .wrapper {
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
  }
  .footer .wrapper .contacts {
    padding-right: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .footer iframe {
    width: 100%;
  }
  .footer h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .footer .maps {
    padding: 0 5px;
    width: 100%;
    position: relative;
  }
  .footer .maps::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background: #fff;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.news-page {
  background: linear-gradient(180deg, #25866B 2.08%, rgba(48, 127, 132, 0.9) 28.13%, rgba(56, 99, 149, 0.9) 51.04%, rgba(69, 98, 173, 0.96) 69.79%, #545EB7 100%);
}
.news-page .news .title-section {
  color: #fff;
}

.pagination {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination ul li {
  margin: 0 3px;
}
.pagination ul li.current a {
  color: #BDBDBD;
}
.pagination a {
  font-size: 20px;
  font-weight: bold;
  color: #004834;
  padding: 3px;
  width: 35px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border: 1px solid #fff;
}

.hero-news {
  margin: auto;
  padding: 0 60px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 1fr 1fr;
  grid-gap: 3px;
}
.hero-news .item {
  background-color: black;
}
.hero-news .item:nth-child(1) {
  grid-row: 1/3;
  height: 425px;
}
@media only screen and (max-width: 768px) {
  .hero-news {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 500px) {
  .hero-news {
    padding: 0 15px;
  }
}

.list-news {
  padding: 0 60px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.list-news__main {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.list-news__main h3 {
  font-size: 34px;
  width: 95.8%;
  margin-bottom: 30px;
  color: #fff;
  border-bottom: 4px solid #fff;
}
.list-news__main .news__item {
  width: 24%;
  padding: 0 4px;
  margin-bottom: 8px;
}
.list-news__main .news__item img {
  height: 175px;
  object-fit: cover;
}
.list-news__main .news__item h4 {
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 768px) {
  .list-news__main {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 500px) {
  .list-news__main {
    padding: 0 15px;
  }
}
.list-news .news__item .content {
  padding: 10px;
  margin-top: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.list-news .news__item .content p {
  height: 28px;
}
.list-news .news__item .content h4 {
  font-size: 16px;
  height: 18px;
}
.list-news__highlight {
  width: 20%;
}
.list-news__highlight h3 {
  font-size: 34px;
  width: 100%;
  margin-bottom: 30px;
  color: #fff;
  border-bottom: 4px solid #fff;
}
.list-news__highlight .news__item {
  margin-bottom: 8px;
}
.list-news__highlight .news__item img {
  height: 85px;
  object-fit: cover;
}
.list-news__highlight .news__item h4 {
  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}